* { box-sizing: border-box }

.section-center {
    background-color: #edede9;
    width: 620px;
    margin: 120px auto;
    padding: 20px;
    border-radius: 6px;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.grocery-form {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#input {
    display: inline-block;
    padding: 10px 15px;
    width: 75%;
    border:1px solid transparent;
    -webkit-appearance: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline-style: none;

}

.grocery-container{
    text-align: center;
}

.submit-btn {
    width: 80px;
    display: inline-block;
    border: none;
    padding: 10px 15px;
    background-color: #264653;
    color: white;
    font-size: 1rem;
    font-weight: 200;
    -webkit-appearance: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;


}

.clear-btn {
    background: transparent;
    border: 1px solid #e63946;
    padding: 4px 15px;
    color: #e63946;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 24px;
}